<div id="email-wrapper">
  <div class="left-pane">
    <div class="title-entry">
      <h1>CONFIGURE</h1>
      {{input type="text" value=emailTitle placeholder="Enter your title"}}
      {{textarea value=emailBody placeholder="Enter some context"}}
    </div>
    <div class="html-printout">
      <button {{action "generate"}}>Generate HTML</button>
    </div>
  </div>

  <div id="email-content">
    <div style="width: 600px; margin: 40px auto 0 auto; font-family: 'Arial';">
      <h1 style="border-bottom: #000 1px solid; padding-bottom: 20px; margin-bottom: 20px; font-size: 26px; line-height: 1.3em;">{{emailTitle}}</h1>
      <p style="font-size: 15px; line-height:1.5em; padding: 10px 0;">{{emailBody}}</p>
    </div>
    {{outlet}}
  </div>
</div>
