<div id="email-wrapper">
  <div class="left-pane">
    <div class="title-entry">
      <h1>CONFIGURE</h1>
      {{input type="text" value=emailTitle placeholder="Enter your title"}}
      {{textarea value=emailBody placeholder="Enter some context"}}

      <h2>UTM Parameters <small>* Optional</small></h2>

      {{input type="text" value=utmCampaignName placeholder="UTM Camaign Name"}}
      {{input type="text" value=utmCampaignSource placeholder="UTM Camaign Source (ex. newsletter)"}}
      {{input type="text" value=utmMedium placeholder="UTM Medium (ex. email)"}}
      {{input type="text" value=utmContent placeholder="UTM Content (ex. 20140101-sales-team)"}}
    </div>
    <div class="html-printout">
      <button {{action "generate"}}>Generate HTML</button>
    </div>
    <hr>
    <div class="email-direct">
      {{input type="text" value=emails placeholder="Enter comma separated list"}}
      {{#if canEmail}}
      <button {{action "email"}}>Email</button>
      {{/if}}
    </div>
  </div>

  <div id="email-content">
    <table border="0" cellspacing="0" cellpadding="0" height="100%" width="100%">
      <tr>
        <td align="center" valign="top">
          {{#view "layouts/emailbase"}}
          <tr>
            <td align="left">
              <div style="width: 600px; margin: 40px auto 0 auto; font-family: 'Arial'; text-align: left;">
                <h1 style="border-bottom: #000 1px solid; padding-bottom: 20px; margin-bottom: 20px; font-size: 26px; line-height: 1.3em;">{{emailTitle}}</h1>
                <p style="font-size: 15px; line-height:1.5em; padding: 10px 0;">{{emailBody}}</p>
              </div>
            </td>
          </tr>
          {{outlet}}
          {{/view}}
        </td>
      </tr>
    </table>
  </div>
</div>
