<div id="email-wrapper">
  <div class="left-pane">
    <div class="title-entry">
      <h1>CONFIGURE</h1>
      {{input type="text" value=logoUrl placeholder="Enter a URL to a logo"}}

      <label>Background Color</label>
      {{view 'color-picker' valueBinding=bgColor label="Background Color"}}
      <label>Font Color</label>
      {{view 'color-picker' valueBinding=fontColor label="Font Color"}}
      {{input type="text" value=emailTitle placeholder="Enter your title"}}
      {{textarea value=emailBody placeholder="Enter some context"}}

      <h2>UTM Parameters <small>* Optional</small></h2>

      {{input type="text" value=utmCampaignName placeholder="UTM Camaign Name"}}
      {{input type="text" value=utmCampaignSource placeholder="UTM Camaign Source (ex. newsletter)"}}
      {{input type="text" value=utmMedium placeholder="UTM Medium (ex. email)"}}
      {{input type="text" value=utmContent placeholder="UTM Content (ex. 20140101-sales-team)"}}
    </div>
    <div class="html-printout">
      <button {{action "generate"}}>Generate HTML</button>
    </div>
    <hr>
    <div class="email-direct title-entry">
      <h2>Send This Email <small>* Optional</small></h2>
      {{input type="text" value=emails placeholder="Enter comma separated list of emails"}}
      {{#if canEmail}}
      <div class="html-printout">
        <button {{action "email"}}>Send</button>
      </div>
      {{/if}}
    </div>
  </div>

  <div id="email-content">
    <table {{bind-attr bgcolor=bgColor}} border="0" cellspacing="0" cellpadding="0" height="100%" width="100%">
      <tr>
        <td align="center" valign="top">
          {{#view "layouts/emailbase"}}
          {{#if logoUrl}}
          <tr>
            <td align="center" style="text-align: center;">
              {{size-slider widthBinding="logoWidth" logoUrlBinding="logoUrl"}}
              <img class="logo-image" {{bind-attr width=logoWidth}} style="max-width: 600px" {{bind-attr src=logoUrl}} />
            </td>
          </tr>
          {{/if}}
          <tr>
            <td align="left">
              <div style="width: 600px; margin: 40px auto 0 auto; font-family: 'Arial'; text-align: left;">
                <h1 {{bind-attr style=titleStyle}}>{{emailTitle}}</h1>
                <p {{bind-attr style=bodyStyle}}>{{{formattedEmailBody}}}</p>
              </div>
            </td>
          </tr>
          {{outlet}}
          {{/view}}
        </td>
      </tr>
    </table>
  </div>
</div>
