<h4>Label Baby Junior</h4>

<strong>PICKABLES:</strong>
<ul>
  {{#each item in pickables}}
  <li {{action "pick" item}}>{{item.key.title}} {{item.isPicked}}</li>
  {{/each}}
</ul>


<strong>ITEMS:</strong>
<ul>
  {{#each item in items}}
  <li>{{item.title}}</li>
  {{/each}}
</ul>

<strong>SELECTED:</strong>
<ul>
  {{#each label in selected}}
  <li>{{label.title}}</li>
  {{/each}}
</ul>
