<table style="width: 100%; padding-bottom: 40px;" {{action "toggle"}}>
  <tr>
    <td width="100%" style="padding-bottom: 10px;">
      <img {{bind-attr src=article.thumbnail_url}} width="100%" />
    </td>
  </tr>
  <tr>
    <td width="100%;">
      <h2 style="text-align: left; font-weight: bold; line-height: 25px; color: #000; padding: 10px 10px 0 0px; margin: 0; font-size: 19px;">{{article.title}}</h2>
      {{#if article.author_name}}
      <small style="text-align: left; padding: 10px 10px 0 0px; font-size: 13px; font-weight: regular; line-height: 20px; color: #586d7b;">by: {{ article.author_name }}</small>
      {{/if}}
    </td>
  </tr>
  <tr>
    <td width="100%;">
      <p style=" font-size: 13px; font-weight: regular; line-height: 20px; color: #586d7b; padding: 10px 10px 0 0;">
        {{description}}
      </p>
    </td>
  </tr>
</table>
