<table class="default-article" {{action "toggle"}}>
  <tr class="image-row">
    <td>
      <img {{bind-attr src=article.thumbnail_url}} />
    </td>
  </tr>
  <tr class="heading-row">
    <td>
      <h2 class="article-heading">{{article.title}}</h2>
      {{#if article.author_name}}
      <small class="byline">by: {{ article.author_name }}</small>
      {{/if}}
    </td>
  </tr>
  <tr class="description-row">
    <td>
      <p class="description">
        {{description}}
      </p>
    </td>
  </tr>
</table>
