<table class="smartphone-block-article" {{action "toggle"}}>
  <tr>
    <td class="image-cell" style="background-image: url({{unbound article.thumbnail_url}});">
    </td>
    <td class="text-cell">
      <h2 class="article-heading">{{article.title}}</h2>
      {{#if article.author_name}}
      <small class="byline">by: {{ article.author_name }}</small>
      {{/if}}
      <p class="description">
        {{description}}
      </p>
    </td>
  </tr>
</table>
