<table class="smartphone-block-article" style="width: 100%; padding-bottom: 20px;" {{action "toggle"}}>
  <tr>
    <td class="image-cell" {{bind-attr width=width}} {{bind-attr style=smartphoneImageBlockStyle}}>
      {{partial "layouts/partials/wrapped-image"}}
    </td>
    <td width="402" class="text-cell" style="padding-left: 20px; width: 402px;">
      {{partial "layouts/partials/wrapped-heading"}}
      {{partial "layouts/partials/description-block"}}
    </td>
  </tr>
</table>
